{% extends "Codes/base.html" %}

{% block content %}
<form action="" method="post" class="areaLogin">
    <div class="ladoEsquerdo">
        <img src="{{url_for('static', filename='../static/img/imagemInicio.png')}}" class="imagemEsquerda">
    </div>
    <div class="ladoDireito">
        <h3 class="bemVindo">BEM VINDO!</h3>
        {{form.csrf_token}}

        {% for error in form.errors.values() %}
        <div class="modal">
            <p>{{ error[0] }}</p>
        </div>
        {% endfor %}

        <div class="totalNome">
            <div class="nomeForm">{{form.nome.label()}}</div>
            <div class="nome">
                <img src="{{url_for('static', filename='../static/img/iconUsuario.png')}}">
                {{form.nome(class="form-control")}}
            </div>
        </div>
        <div class="totalEmail">
            <div class="emailForm">{{form.email.label()}}</div>
            <div class="email">
                <img src="{{url_for('static', filename='../static/img/logoArroba.png')}}">
                {{form.email(class="form-control")}}
            </div>
        </div>
        <div class="totalSenha">
            <div class="senhaForm">{{form.senha.label()}}</div>
            <div class="senha">
                <img src="{{url_for('static', filename='../static/img/senhaIcon.png')}}">
                {{form.senha(class="form-control")}}
            </div>
        </div>
        <div class="totalConfirmacaoSenha">
            <div class="confirmacaoSenhaForm">{{form.confirmacao_senha.label()}}</div>
            <div class="confirmacaoSenha">
                <img src="{{url_for('static', filename='../static/img/senhaIcon.png')}}">
                {{form.confirmacao_senha(class="form-control")}}
            </div>
        </div>
        <div class="cadastro">
            <button id="backBtn"
                style="text-decoration: none; padding-right: 1.5rem; padding-left: 1.5rem; border-radius: 30px; margin-top: 1rem; margin-right: 1rem">Voltar</button>
            <script>
                document.getElementById("backBtn").addEventListener("click", function () {
                    history.back();
                });
            </script>
            <div class="botaoForms">{{form.btnSubmit(class="btn btn-white")}}</div>
        </div>
    </div>
</form>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .modal {
        background-color: #f44336;
        color: white;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    .cadastro {
        display: flex;
        justify-content: space-between;
    }

    .botaoForms {
        background-color: white;
        margin-top: 3%;
        margin-right: 3.2vw;
        border-radius: 100px;
        border: 5px solid white;
        padding: 0em 1em 0em 1em;
    }

    .emailForm {
        font-size: 26px;
        margin-left: 42%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .email {
        display: flex;
        margin-right: 10%;
    }

    .senhaForm {
        font-size: 26px;
        margin-left: 42%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .senha {
        display: flex;
        margin-right: 10%;
    }

    .confirmacaoSenhaForm {
        font-size: 26px;
        margin-left: 32%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .confirmacaoSenha {
        display: flex;
        margin-right: 10%;
        margin-bottom: 1rem;
    }

    .nomeForm {
        font-size: 26px;
        margin-left: 42%;
        margin-top: 8%;
        margin-bottom: 3%;
    }

    .nome {
        display: flex;
        margin-right: 10%;
    }

    .sobrenomeForm {
        font-size: 22px;
        margin-left: 35%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .sobrenome {
        display: flex;
        margin-right: 10%;
    }

    .bemVindo {
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .areaLogin {
        margin: 2rem 10rem 1rem 10rem;
        border-radius: 60px;
        background-color: grey;
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
    }

    .cadastrase {
        font-size: 26px;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: black;
        margin-left: 0rem;
    }

    .imagemEsquerda {
        margin-top: 15rem;
    }

    .ladoDireito {
        margin-right: 0px;
        width: 600px;
    }

    img {
        margin-right: 20px;
    }

    .form-control {
        border-radius: 20px;
    }
</style>
{% endblock %}