<div class="butons">
    <div class="logo">
        <a href="/"><img src="{{url_for('static', filename='../static/img/LOGO SENAI.png')}}" height="80"
                width="80"></a>
    </div>
    <div class="butonsHome">
        {% if current_user.email == 'admin@gmail.com' %}
        <div class="btn btn-light"
            style="border-radius: 60px; padding: 0.5rem 1rem 0.5rem 1rem; margin-left: 1rem; color: black; text-decoration: none;">
            <a href="{{url_for('cadastro')}}">Cadastrar</a>
        </div>
        {% endif %}
        <a href="/" class="btn btn-light"
            style="border-radius: 60px; padding: 0.5rem 1rem 0.5rem 1rem; margin-left: 1rem;">Início</a>
        <a href="{{url_for('logout')}}" class="btn btn-danger"
            style="border-radius: 60px; padding: 0.5rem 1rem 0.5rem 1rem; margin-left: 1rem;">Sair</a>
    </div>
</div>

<style>
    .butons {
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vw;
    }

    .butonsHome {
        margin-top: 2vw;
        margin-right: 1vw;
    }

    .menu {
        margin-left: 5vw;
    }
</style>