{% extends "Codes/base.html" %}

{% block content %}
<div class="container">
    {% include 'Codes/nave.html' %}
    <div class="row mt-4">
        <h3 class="titulo">Lista de turmas<br></h3>
        <hr class="hrTituloTurmas">

        <div class="row">
            {% for turma in turmas %}
            <div class="col-md-3 mb-4">
                <div class="card border-dark h-100">
                    <!-- Verifica se a turma possui uma imagem, caso contrário, usa uma imagem padrão -->
                    <img src="{{ url_for('static', filename='img/' + (turma.imagem if turma.imagem else 'default.jpg')) }}" class="card-img-top" alt="Imagem da Turma">
                    <div class="card-body text-center">
                        <p class="card-title">Turma: {{ turma.nome }}</p>
                        <div class="d-flex justify-content-center">
                            <form action="{{ url_for('turmaDelete', id=turma.id) }}" method="post" class="mr-2">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                            <a href="{{ url_for('turmaEdit', id=turma.id) }}" class="btn btn-warning mx-2">Editar</a>
                            <a href="{{ url_for('turmaDetail', id=turma.id) }}" class="btn btn-success">Visualizar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cadastro d-flex justify-content-between align-items-center mt-4">
            <button id="backBtn" class="btn btn-outline-secondary">Voltar</button>
            <script>
                document.getElementById("backBtn").addEventListener("click", function () {
                    history.back();
                });
            </script>
            <a href="{{ url_for('TurmaNovo') }}" class="btn btn-primary">Cadastrar turma</a>
        </div>
    </div>
</div>

<style>
    /* CSS para estilizar o card e a imagem */
    .card-img-top {
        height: 150px;
        object-fit: cover;
    }
    .titulo {
        text-align: center;
        font-size: 50px;
        font-family: "Montserrat", sans-serif;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    .hrTituloTurmas {
        width: 30%;
        margin-left: 35%;
        margin-bottom: 2%;
        border: 4px solid black;
    }
    .card {
        font-size: 20px;
    }
    .cadastro {
        margin-bottom: 2rem;
    }
    .card-title {
        font-weight: bold;
    }
</style>
{% endblock %}