{% extends 'base.html' %}

{% block content %}
<div class="container">
<h3 class="titulo">Adicionar Atividade<br></h3>
<hr class="hrTituloTurmas">

    <div class="formsEdit">
        <div class="forms">
            <form method="POST" action="{{ url_for('atividadeEdit', id=atividade.id) }}" class="nomeTurma">
                {{ form.hidden_tag() }}
                <div class="form-group" style="font-size: 50px; text-align: center;">
                    {{ form.descricao.label(class="form-label") }}
                    {{ form.descricao(class="form-control") }}
                </div>
                <div class="form-group" style="margin-top: 3rem; text-align: center; margin-bottom: 2rem;">
                    <div class="voltar">
                        <button id="backBtn" style="text-decoration: none; padding-right: 2rem; padding-left: 2rem; border-radius: 30px; margin-top: 1rem; margin-right: 12rem">Voltar</button>
                        <script>
                        document.getElementById("backBtn").addEventListener("click", function(){
                            history.back();
                        });
                        </script>
                        {{ form.btnSubmit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .forms {
        width: 30rem;
        margin-right: 2rem;
        border: 2px solid black;
        border-radius: 20px;
        padding: 2rem 2rem 0 2rem;
    }

    .imgEdit {
        text-align: center;
        margin-right: 100px;
    }

    .formsEdit {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    .nomeTurma {
        font-family: 'Montserrat', sans-serif;
        margin-right: 0;
        padding-right: 0;
    }

    .form-control {
        border-radius: 30px;
    }

    .form-label {
        margin-bottom: 2rem;
        margin-top: 0rem;
    }

    .btn-primary {
        border-radius: 30px;
    }

    .titulo {
        text-align: center;
        font-size: 50px;
        font-family: "Montserrat", sans-serif;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .hrTituloTurmas {
        width: 30%;
        margin-left: 35%;
        margin-bottom: 2%;
        border: 4px solid black;
    }
</style>
{% endblock %}
