{% extends 'base.html' %}

{% block content %}
<div class="container">

    {% include 'nave.html' %}
    <div>
        {% if current_user.is_authenticated %}
        <!-- <a href="{{url_for('logout')}}" class="btn btn-danger">Sair</a> -->
        <!-- <a href="{{url_for('PostLista')}}"class="btn btn-success">Lista de turmas</a> -->
        <div class="Title">
            <h1 class="welcomeTitle">Bem-Vindo</h1>
            <hr class="welcomeHr">
            <p class="welcomeText">Gerenciamos suas turmas de mecânica, facilitando a educação e simplificando a gestão.</p>
        </div>
        <div class="optionsWelcome">    
            <div class="turmas">
                <a href="{{url_for('PostLista')}}"><img src="{{url_for('static', filename='../static/img/logoTurmas.png')}}"></a>
                <hr class="hrOpcoes">
                <h1>Turmas</h1>
            </div>
            <div class="atividades">
                <a href="/"><img src="{{url_for('static', filename='../static/img/logoAtividades.png')}}"></a>
                <hr class="hrOpcoes">
                <h1>Atividades</h1>
            </div>
            <div class="maquinas">
                <a href="/"><img src="{{url_for('static', filename='../static/img/logoMaquinas.png')}}"></a>
                <hr class="hrOpcoes">
                <h1>Máquinas</h1>
            </div>
            <div class="alunos">
                <a href="/"><img src="{{url_for('static', filename='../static/img/logoAlunos.png')}}"></a>
                <hr class="hrOpcoes">
                <h1>Alunos</h1>
            </div>
        </div>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
            
            .Title {
                text-align: center;
            }
            .welcomeHr {
                width: 25%;
                margin-left: 480px;
                border: 4px solid black;
            }
            .welcomeTitle {
                font-size: 52px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
                margin-top: 10%;
            }
            .welcomeText {
                font-size: 26px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                margin-right: 17vw;
                margin-left: 17vw;
            }

            .optionsWelcome {
                margin-top: 10%;
                display: flex;
                justify-content: space-between;
                gap: 10%;
                text-align: center;
            }

            .hrOpcoes {
                width: 60%;
                margin-left: 20px;
                border: 4px solid black;
            }
        </style>
        
        {% else %}

        <form action="" method="post" class="areaLogin">
            <div class="ladoEsquerdo">
                <img src="{{url_for('static', filename='../static/img/imagemInicio.png')}}" class="imagemEsquerda">
            </div>
            <div class="ladoDireito">
                <h3 class="bemVindo">BEM VINDO!</h3>
                {{form.csrf_token}}

                <div class="totalEmail">
                    <div class="emailForm">{{form.email.label()}}</div>
                    <div class="email">
                        <img src="{{url_for('static', filename='../static/img/logoArroba.png')}}">
                        {{form.email(class="form-control")}}
                    </div>
                </div>
                <div class="totalSenha">
                    <div class="senhaForm">{{form.senha.label()}}</div>
                    <div class="senha">
                        <img src="{{url_for('static', filename='../static/img/senhaIcon.png')}}">
                        {{form.senha(class="form-control")}}
                    </div>
                </div>

                <div class="cadastro">
                    <div class="mt-4 mr-0"><a href="{{url_for('cadastro')}}" class="cadastrase">Cadastrar-se</a></div>
                    <div class="botaoForms">{{form.btnSubmit(class="btn btn-white")}}</div>
                </div>
            </div>
        </form>
        

        {% endif %}

    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .cadastro {
        display: flex;
        justify-content: space-between;
    }
    .botaoForms {
        background-color: white;
        margin-top: 3%;
        margin-right: 2rem;
        border-radius: 100px;
        border: 5px solid white;
        padding: 0em 1em 0em 1em;
    }
    .totalEmail {
    }
    .emailForm {
        font-size: 26px;
        margin-left: 42%;
        margin-bottom: 3%;
    }
    .email {
        display: flex;
        margin-right: 10%;
    }
    .totalSenha {
    }
    .senhaForm {
        font-size: 26px;
        margin-left: 42%;
        margin-top: 8%;
        margin-bottom: 3%;
    }
    .senha {
        display: flex;
        margin-right: 10%;
    }
    .bemVindo{
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .areaLogin {
        margin-top: 8rem;
        background-color: #0000;
        border-radius: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .cadastrase{
        font-size: 26px;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: black;
        margin-left: 2rem;
    }
    .imagemEsquerda {
        margin-top: 3rem;
    }
    .ladoDireito {
        margin-right: 0px;
        width: 500px;
        border-radius: 60px;
        background-color: grey;
        padding: 2rem;
    }
    img {
        margin-right: 20px;
    }
    .form-control {
        border-radius: 20px;
    }
    </style>
{% endblock %}




      
