{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'nave.html' %}
    <span class="btn btn-primary">Professor: {{current_user.nome}} {{current_user.sobrenome}}</span>
    <div class="row mt-4">
        <h3 class="titulo">Lista de turmas<br></h3>
        <hr class="hrTituloTurmas">

        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="bg-light border border-dark">Número</th>
                        <th class="bg-light border border-dark">Post</th>
                        <th class="bg-light border border-dark">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in posts %}
                    <tr>
                        <td class="bg-light border border-dark">{{ linha.id }}</td>
                        <td class="bg-light border border-dark">{{ linha.msg_resumo() }}</td>
                        <td class="bg-light border border-dark">
                            <form action="{{ url_for('postDelete', id=linha.id) }}" method="post">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                                <a href="{{ url_for('postEdit', id=linha.id) }}" class="btn btn-warning">Editar</a>
                                <a href="{{ url_for('postDetail', id=linha.id) }}" class="btn btn-success">Visualizar</a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="cadastro">
            <a href="{{ url_for('PostNovo') }}" class="btn btn-primary col-3 mt-3">Cadastrar turma</a><br>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
    .titulo {
        text-align: center;
        font-size: 50px;
        font-family: "Montserrat", sans-serif;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .cadastro {
        text-align: right;
    }

    .hrTituloTurmas {
        width: 30%;
        margin-left: 35%;
        margin-bottom: 2%;
        border: 4px solid black;
    }
</style>

{% endblock %}
