{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'nave.html' %}
    <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span>
    <div class="row mt-4">
        <h3>Turma: {{ obj.mensagem }}</h3>
        {% for linha in posts %}
        <h3>{{linha.msg_resumo()}}</h3>
        {% endfor %}

        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <br>
                        <th class="bg-light border border-dark">ID</th>
                        <th class="bg-light border border-dark">Nome da atividade</th>
                        <th class="bg-light border border-dark">Ações</th>
                    </tr>
                </thead>
                <body>
                    <tr>
                        {% for comentario in obj.comentarios %}
                    <tr>
                        <td class="bg-light border border-dark">{{ comentario.id }}</td>
                        <td class="bg-light border border-dark">{{ comentario.text }}</td>
                        <td class="bg-light border border-dark">
                            <form action="{{ url_for('postDelete', id=comentario.id) }}" method="post">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                                <a href="{{ url_for('postEdit', id=comentario.id) }}" class="btn btn-warning">Editar</a>
                                <a href="{{ url_for('postDetail', id=comentario.id) }}" class="btn btn-success">Visualizar</a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </body>
            </table>
        </div>
        
        <div class="col-md-12 mt-4">
            <h5>Cadastrar atividade</h5>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.text.label(class="form-label") }}
                    {{ form.text(class="form-control") }}
                </div>
                <div class="form-group mt-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}